/* Media Query */

.card-list .img-card {
    /* position: absolute; */
    /* right: 0;
    bottom: 0; */
    width: 107px;
    height: auto;
    transform: rotate(25deg), translate(18%, -2%);
    
}

.card-list .card {
    background-color: aqua;
    width: 200px;
    height: 200px;
    overflow: hidden;

    display: grid;
    flex-direction: column;
}

